<div class="row">
  <div class="col-xl-12">
    <div>
      <div class="card-body">
        <div class="row">
          <div class="text-center container-experiences">
            <h3 class="title-section" style="font-size: 42px">
              MIS EXPERIENCIA
            </h3>
            <p style="margin: 22px 5%">
              Llevo varios años dedicándome a la programación, y a lo largo de
              este tiempo, he aprendido mucho y he crecido como profesional.
              Durante mis estudios en la universidad, tuve la oportunidad de
              sumergirme en distintos lenguajes y tecnologías, lo que me
              permitió desarrollar una sólida base de conocimientos. Siempre he
              disfrutado enfrentando nuevos retos y buscando soluciones
              creativas para problemas complejos. Mi pasión por la programación
              sigue creciendo, y estoy comprometido a seguir aprendiendo y
              mejorando mis habilidades cada día.
            </p>
          </div>
          <div class="col-xl-12">
            <ul class="timeline">
              <li>
                <div class="text-center">
                  <h5 class="text-uppercase fs-16">15/03/2022 – 15/08/2022</h5>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="event-content">
                      <div
                        class="timeline-date bg-primary text-center rounded float-end"
                      >
                        <h3 class="text-white mb-0 fs-17">15</h3>
                        <p class="mb-0 text-white-50">Mar</p>
                      </div>
                      <div class="timeline-text">
                        <h3 class="fs-8">
                          Catedra UNESCO Desarrollador un plataforma Web
                        </h3>
                        <p class="mb-0 mt-2 pt-1 text-muted">
                          Participación en el proyecto de investigación
                          internacional EDUTECH “Asistencia tecnología a la
                          accesibilidad en la Educación Superior Virtual”
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="text-center">
                  <h5 class="text-uppercase fs-16">25/04/2022 – 25/07/2022</h5>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="event-content">
                      <div
                        class="timeline-date bg-primary text-center rounded float-end"
                      >
                        <h3 class="text-white mb-0 fs-17">25</h3>
                        <p class="mb-0 text-white-50">Abr</p>
                      </div>
                      <div class="timeline-text">
                        <h3 class="fs-17">
                          Desarrollo de una plataforma web en angular y Django
                        </h3>
                        <p class="mb-0 mt-2 pt-1 text-muted">
                          Experiencia destacada en el desarrollo de una
                          plataforma web integral utilizando Angular y Django.
                          Lideré el equipo de desarrollo en la creación de una
                          aplicación robusta y de alto rendimiento, desde la
                          concepción hasta la implementación. Diseñé e
                          implementé arquitecturas escalables y mantenibles,
                          utilizando las mejores prácticas de Angular y Django.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="text-center">
                  <h5 class="text-uppercase mb-0 fs-16">
                    08/08/2023 – 15/02/2023
                  </h5>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="event-content">
                      <div
                        class="timeline-date bg-primary text-center rounded float-end"
                      >
                        <h3 class="text-white mb-0 fs-17">8</h3>
                        <p class="mb-0 text-white-50">Ago</p>
                      </div>
                      <div class="timeline-text">
                        <h3 class="fs-17">
                          Desarrollo de una bolsa de trabajo accesible
                          considerando discapacidad y competencias laborales
                          módulos de Usuario Empresa y Usuario Postulante
                        </h3>
                        <p class="mb-0 mt-2 pt-1 text-muted">
                          Desarrollo de una plataforma de bolsa de trabajo
                          accesibles para personas con discapacidad y
                          competencias lo que nos involucramos fue en el
                          desarrollo tanto como frontend y backend en la
                          arquitectura y sus dos módulos que se realizó,
                          utilizando las mejores prácticas en Angular y Django
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="text-center">
                  <h5 class="text-uppercase mb-0 fs-16">
                    22/03/2023 – 17/08/20223
                  </h5>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="event-content">
                      <div
                        class="timeline-date bg-primary text-center rounded float-end"
                      >
                        <h3 class="text-white mb-0 fs-17">22</h3>
                        <p class="mb-0 text-white-50">Mar</p>
                      </div>
                      <div class="timeline-text">
                        <h3 class="fs-17">
                          Desarrollo de una sala Multisensorial para personas
                          con discapacidad
                        </h3>
                        <p class="mb-0 mt-2 pt-1 text-muted">
                          Desarrollo de una plataforma que nos ayudé a la
                          interacción con los niños y el aprendizaje físico de
                          los niños fue desarrollada en Angular mediante socket
                          para la comunicación con el backend y la respuesta de
                          sensores es la sala tuve la participación en el diseño
                          de la plataforma y visualización de los datos de dicha
                          plataforma.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="text-center">
                  <h5 class="text-uppercase mb-0 fs-16">
                    25/09/2023 – 25/03/2024
                  </h5>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="event-content">
                      <div
                        class="timeline-date bg-primary text-center rounded float-end"
                      >
                        <h3 class="text-white mb-0 fs-17">25</h3>
                        <p class="mb-0 text-white-50">Sep</p>
                      </div>
                      <div class="timeline-text">
                        <h3 class="fs-17">
                          Desarrollo de una plataforma de facturación de una
                          pastelería Dulce café
                        </h3>

                        <p class="mb-0 mt-2 pt-1 text-muted">
                          El desarrollo de esta plataforma fue una gran
                          experiencia ya que pudimos poner en práctica nuestros
                          conocimientos y alcanzando el producto obtenido, el
                          frontend fue desarrollo en Angular y el backend en
                          django lo que nos hace un plataforma muy útil y muy
                          extensa para el rendimiento de la pastelería.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="text-center">
                  <h5 class="text-uppercase mb-0 fs-16">Year 2022</h5>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="event-content">
                      <div
                        class="timeline-date bg-primary text-center rounded float-end"
                      >
                        <h3 class="text-white mb-0 fs-17">31</h3>
                        <p class="mb-0 text-white-50">May</p>
                      </div>
                      <div class="timeline-text">
                        <h3 class="fs-17">Timeline Event End</h3>

                        <p class="mb-0 mt-2 pt-1 text-muted">
                          Suspendisse tempor porttitor elit non maximus. Sed
                          suscipit, purus in convallis condimentum, risus ex
                          pellentesque sapien, vel tempor arcu dolor ut est. Nam
                          ac felis id mauris fermentum nisl pharetra auctor.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
