<div class="row">
  <div class="col-xl-12">
    <div>
      <div class="card-body">
        <div class="row">
          <div class="text-center container-experiences">
            <h3 class="title-section" style="font-size: 42px">
              MIS EXPERIENCIA
            </h3>
            <p style="margin: 22px 5%">
              Llevo varios años dedicándome a la programación, y a lo largo de
              este tiempo, he aprendido mucho y he crecido como profesional.
              Durante mis estudios en la universidad, tuve la oportunidad de
              sumergirme en distintos lenguajes y tecnologías, lo que me
              permitió desarrollar una sólida base de conocimientos. Siempre he
              disfrutado enfrentando nuevos retos y buscando soluciones
              creativas para problemas complejos. Mi pasión por la programación
              sigue creciendo, y estoy comprometido a seguir aprendiendo y
              mejorando mis habilidades cada día.
            </p>
          </div>
          <div class="col-xl-12">
            <ul class="timeline">
              <li>
                <div class="text-center">
                  <h5 class="text-uppercase fs-16">15/03/2020 – 15/06/2021</h5>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="event-content">
                      <div
                        class="timeline-date bg-primary text-center rounded float-end"
                      >
                        <h3 class="text-white mb-0 fs-17">15</h3>
                        <p class="mb-0 text-white-50">Jun</p>
                      </div>
                      <div class="timeline-text">
                        <h3 class="fs-8">
                          Catedra UNESCO Desarrollador un plataforma Web
                        </h3>
                        <p class="mb-0 mt-2 pt-1 text-muted">
                          Experiencia destacada en el desarrollo de una plataforma web
integral ulizando Angular y Django. Parcipe en el manejo de
recurso de optencion de datos del banckend y mejorando su su
rendimiento y modificacion de diseño .
Desarrollé la plataforma web integral con Angular y Django.
Opmicé la obtención de datos desde el backend.
Mejoré el rendimiento del sistema de datos.
Implementé modificaciones de diseño innovadoras.
Entregué soluciones robustas y escalables a tiempo.

                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="text-center">
                  <h5 class="text-uppercase fs-16">25/08/2021 – 25/08/2023</h5>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="event-content">
                      <div
                        class="timeline-date bg-primary text-center rounded float-end"
                      >
                        <h3 class="text-white mb-0 fs-17">25</h3>
                        <p class="mb-0 text-white-50">Ago</p>
                      </div>
                      <div class="timeline-text">
                        <h3 class="fs-17">
                          Desarrollo de una bolsa de trabajo accesible considerando
discapacidad y competencias laborales módulos de Usuario
Empresa y Usuario Postulante

                        </h3>
                        <p class="mb-0 mt-2 pt-1 text-muted">
                          Desarrollo de una plataforma de bolsa de trabajo accesible para
                          personas con discapacidad y competencias laborales,
                          implementando módulos de Usuario Empresa y Usuario
                          Postulante.
                          Parcipación integral en frontend y backend, ulizando
                          mejores práccas en Angular y Django, logrando una arquitectura
                          eficiente y resultados ópmos.
                          Desarrollé una bolsa de trabajo accesible y eficiente
                          Opmicé la accesibilidad para personas con discapacidad
                          Implementé mejores práccas en Angular y Django
                          Diseñé y desarrollé los módulos de Usuario Empresa y
                          Postulante
                          Dominé tanto el frontend como el backend
                          Parcipé en la arquitectura del sistema
                          Logré resultados sobresalientes en usabilidad y funcionalidad
                          
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="text-center">
                  <h5 class="text-uppercase mb-0 fs-16">
                    08/07/2023 – 15/11/2023
                  </h5>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="event-content">
                      <div
                        class="timeline-date bg-primary text-center rounded float-end"
                      >
                        <h3 class="text-white mb-0 fs-17">15</h3>
                        <p class="mb-0 text-white-50">Ago</p>
                      </div>
                      <div class="timeline-text">
                        <h3 class="fs-17">
                          Desarrollo de una plataforma que nos ayudé a la interacción con
los niños y el aprendizaje sico

                        </h3>
                        <p class="mb-0 mt-2 pt-1 text-muted">
                          Desarrollo de una plataforma interacva en Angular para
                          mejorar la interacción con los niños y el aprendizaje sico,
                          ulizando sockets para comunicación con el backend y respuesta
                          de sensores en una sala mulsensorial.
                          Desarrollo de plataforma en Angular para interacción y
                          aprendizaje infanl
                          Implementación de comunicación backend con Socket para
                          respuesta de sensores
                          Parcipación acva en el diseño intuivo de la plataforma
                          Recuperación eficiente de recursos para opmizar el
                          funcionamiento
                          Manipulación precisa del entorno mulsensorial en empo real
                          Visualización clara y comprensible de los datos en la plataforma
                          Contribución significava a la mejora del aprendizaje sico
                          infanl
                          
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="text-center">
                  <h5 class="text-uppercase mb-0 fs-16">
                    22/11/2023 – Actualidad
                  </h5>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="event-content">
                      <div
                        class="timeline-date bg-primary text-center rounded float-end"
                      >
                        <h3 class="text-white mb-0 fs-17">22</h3>
                        <p class="mb-0 text-white-50">Nov</p>
                      </div>
                      <div class="timeline-text">
                        <h3 class="fs-17">
                          Analista y desarrollador de software
                        </h3>
                        <p class="mb-0 mt-2 pt-1 text-muted">
                          Desarrollé una plataforma integral como freelancer, aplicando
mis conocimientos en Frontend con Angular y en Backend con
Django.
La solución resultante maximizó el rendimiento y la eficiencia
operava de una pastelería, demostrando su uso extensivo y alta
ulidad.
Desarrollo completo de una plataforma para pastelería
eficientemente.
Ulización de Angular para un frontend funcional y atracvo.
Implementación de Django para un backend robusto y seguro.
Freelancer demostrando habilidades en proyectos de gran
alcance.
Mejora del rendimiento operando una plataforma integral.
Resultados exitosos reflejados en la sasfacción del cliente.

                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="text-center">
                  <h5 class="text-uppercase mb-0 fs-16">
                    05/07/2024 – Actualidad
                  </h5>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="event-content">
                      <div
                        class="timeline-date bg-primary text-center rounded float-end"
                      >
                        <h3 class="text-white mb-0 fs-17">05</h3>
                        <p class="mb-0 text-white-50">Jul</p>
                      </div>
                      <div class="timeline-text">
                        <h3 class="fs-17">
                          Analista y desarrollador de software
                        </h3>

                        <p class="mb-0 mt-2 pt-1 text-muted">
                          Contribuí al desarrollo de una plataforma para bares escolares,
                          programando en Angular.
                          Diseñé la interfaz de usuario y gesoné la recuperación de
                          datos desde el backend mediante servicios RESTful.
                          Implementé la integración con APIs y opmicé la comunicación
                          entre el frontend y el backend, asegurando una experiencia de
                          usuario eficiente y fluida.
                          Desarrollé plataforma para bares escolares con Angular.
                          Diseñé interfaces de usuario atracvas y usables.
                          Gesoné recuperación de datos desde el backend vía RESTful.
                          Implementé integración con diversas APIs de terceros.
                          Opmicé comunicación entre frontend y backend.
                          Logré experiencia de usuario rápida y eficiente.
                          Contribuí a la innovación en servicios educavos
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

           
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
