<div class="container-references-all" >
  <h2>MIS REFERENCIAS</h2>
  <div class="contaniner-carrusel">
    <div class="row">
      <div class="col-lg-12">
        <div class="carrusel-item">
          <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-4" >
              <div class="carrusel-img">
                <img src="assets/img/jonathan01.png" alt="">
              </div>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-8">
              <div class="carrusel-detals">
                <span>23 de marzo  del 2023</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe officiis deleniti nihil ab aspernatur sapiente quos veritatis. Ipsam temporibus eaque in sunt tenetur quos expedita quasi mollitia, sequi maiores tempora!</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-12">
        <div class="carrusel-item">
          <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-4" >
              <div class="carrusel-img">
                <img src="assets/img/jonathan01.png" alt="">
              </div>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-8">
              <div class="carrusel-detals">
                <span>23 de marzo  del 2023</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe officiis deleniti nihil ab aspernatur sapiente quos veritatis. Ipsam temporibus eaque in sunt tenetur quos expedita quasi mollitia, sequi maiores tempora!</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-12">
        <div class="carrusel-item">
          <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-4" >
              <div class="carrusel-img">
                <img src="assets/img/jonathan01.png" alt="">
              </div>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-8">
              <div class="carrusel-detals">
                <span>23 de marzo  del 2023</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe officiis deleniti nihil ab aspernatur sapiente quos veritatis. Ipsam temporibus eaque in sunt tenetur quos expedita quasi mollitia, sequi maiores tempora!</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-12">
        <div class="carrusel-item">
          <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-4" >
              <div class="carrusel-img">
                <img src="assets/img/jonathan01.png" alt="">
              </div>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-8">
              <div class="carrusel-detals">
                <span>23 de marzo  del 2023</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe officiis deleniti nihil ab aspernatur sapiente quos veritatis. Ipsam temporibus eaque in sunt tenetur quos expedita quasi mollitia, sequi maiores tempora!</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
     
    </div>
  </div>
</div>
