<div class="container-competences-all">
  <div class="row">
    <div class="col-lg-12">
      <div class="text">
        <h2>MIS HABILIDADES</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
          voluptatibus facilis debitis assumenda veniam fugit corrupti tempore
          expedita animi voluptatem maxime corporis temporibus deleniti, cum
          earum fuga nesciunt at vitae.
        </p>
      </div>
      <div class="container-progress">

        <div class="progress-data">
            <h6>Apoyar y cooperar</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [style.width.%]="cont1" style="font-size: 17px;" >{{cont1}}%</div>
            </div>
          </div>

        <div class="progress-data">
          <h6>Crear y conceptualizar</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]="cont2" style="font-size: 17px;">{{cont2}}%</div>
          </div>
        </div>

        

          <div class="progress-data">
            <h6>Honestidad</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]="cont3" style="font-size: 17px;">{{cont3}}%</div>
            </div>
          </div>

         

          <div class="progress-data">
            <h6>Responsabilidad</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]="cont4" style="font-size: 17px;">{{cont4}}%</div>
            </div>
          </div>

          <div class="progress-data">
            <h6>Toma de decisiones</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]="cont5" style="font-size: 17px;">{{cont5}}%</div>
            </div>
          </div>
          <div class="progress-data">
            <h6>Analizar y interpretar</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]="cont6" style="font-size: 17px;">{{cont6}}%</div>
            </div>
          </div>

          <div class="progress-data">
            <h6>Trabajo en equipo</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]="cont7" style=" font-size: 17px;">{{cont7}}%</div>
            </div>
          </div>

          <div class="progress-data">
            <h6>Organizar y ejecutar</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]="cont8" style="font-size: 17px;">{{cont8}}%</div>
            </div>
          </div>
         
      </div>
    </div>
  </div>
</div>
