<div class="container-about-all">
  <div
  data-aos="zoom-in"
  
  data-aos-offset="300"
  data-aos-duration="1500"
  >

    <h3 class="title-section">MI HISTORIA</h3>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 align-self-end">
      <div
        class="container-about-text"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-duration="1500"
        data-aos-easing="ease-in-sine"
      >
        
          <h1>About!</h1>
          <p>
            ¡Hola! Soy Jonnathan, un ingeniero de sistemas apasionado por la
            programación. Desde muy joven, me fascinó cómo la tecnología puede
            transformar ideas en realidades tangibles, y esto me llevó a
            sumergirme en el mundo del código.
          </p>
          <button type="button" class="btn btn-primary">Ver mas</button>
     
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
      <div
        class="container-foto"
        data-aos="zoom-in"
        data-aos-offset="300"
        data-aos-duration="1500"
        data-aos-easing="ease-in-sine"
      >
        <img
          src="/assets/img/jonathan02.jpg"
          alt=""
          width="100%"
          height="655px"
        />
      </div>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12">
      <div class="container-info">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div
              class="container-detail"
              data-aos="fade-down"
              data-aos-offset="300"
              data-aos-duration="1500"
              data-aos-easing="ease-in-sine"
            >
              <h1>Details</h1>
              <div class="information">
                <label for="" style="font-weight: 595">Nombre: </label>
                <br /><span style="font-weight: 300">
                  Uzhca Fajardo Jonathan Chtitian</span
                ><br />
                <br />
                <label for="" style="font-weight: 595">Edad:</label>
                <br /><span style="font-weight: 300"> 29</span> <br />
                <br />
                <label for="" style="font-weight: 595">Genero: </label>
                <br /><span style="font-weight: 300"> Masculino</span><br />
                <br />
                <label for="" style="font-weight: 595">Email: </label>
                <br /><span style="font-weight: 300">
                  jonathan.uzhca0106@gmail.com</span
                ><br />
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div
              class="container-anexo"
              data-aos="fade-up"
              data-aos-offset="300"
              data-aos-duration="1500"
              data-aos-easing="ease-in-sine"
            >
              <h4>
                Soy desarrollador <span style="color: #3e92cc">Frontend</span> y
                <span style="color: #3e92cc">Backend</span>
              </h4>
              <button type="button" class="btn btn-outline-primary">
                <a
                  href="https://wa.link/8c3n58"
                  class="social-link"
                  target="_blank"
                  ><i class="bi bi-whatsapp" aria-hidden="true"></i>
                  Contáctame</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
