<div class="container-aboutMe">
  <a href="/#/">
    <button><i class="bi bi-arrow-left-short"></i> Anterior</button>
  </a>
  <div class="row">
    <div class="col-xl-6 col-lg-12 col-md-12">
        <div class="containerimgAbout">
            <!-- <img class="imgAbout" src="assets/img/jonathan04.jpeg" alt="" /> -->
            <!-- <h2>hola mundo</h2> -->
        </div>
    </div>
    <div class="col-xl-6  col-lg-12 col-md-12 " >
      <div class="container-text-about">
        <h3> Quién Soy, conoseme</h3>
        <P>
            ❝El éxito significa hacer lo mejor que podemos con lo que tenemos. El
          éxito está en el hacer, no en el conseguir; en el intentar, no en el
          triunfar. El éxito es un estándar personal, alcanzar lo más alto que
          hay en nosotros, convertirnos en todo lo que podemos ser. ❞</P>
          <span class="autor"><em>Zig Ziglar</em></span>
          <div class="container-aboutMe-iconos">
            <ul class="social-icons">
                <li>
                  <a
                    href="https://www.facebook.com/tatan.uzhca/?viewas=100000686899395&locale=es_LA"
                    class="social-link"
                    target="_blank"
                    ><i class="bi bi-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://myaccount.google.com/profile/profiles-summary?hl=es_419&utm_source=OGB&utm_medium=act"
                    class="social-link"
                    target="_blank"
                    ><i class="bi bi-google" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/jonnathan0106/"
                    class="social-link"
                    target="_blank"
                    ><i class="bi bi-instagram" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://github.com/JonnathanUzhca"
                    class="social-link"
                    target="_blank"
                    ><i class="bi bi-github" aria-hidden="true"></i
                  ></a>
                </li>
          
                <li>
                  <a
                    href="https://www.tiktok.com/@jonnathanuzhca?_t=8mc22cFs8OL&_r=1"
                    class="social-link"
                    target="_blank"
                    ><i class="bi bi-tiktok" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1719294244">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xl-6 col-lg-12 col-md-12 col-ms-6" style="background: red;">
      <h2>hola mundo</h2>
  </div>
  <div class="col-xl-6 col-md-6 col-ms-6" style="background: rgb(0, 26, 255);">
      <h2>Como esta </h2>

  </div>
</div> -->

 