* {
  margin: 0;
  padding: 0;
}

.container-aboutMe {
  background: #13293d;
}

.imgAbout {
  position: relative;
  border-radius: 100%;
  width: 600px;
  height: 600px;
  left: 20%;
}

.custom-shape-divider-bottom-1719294244 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1719294244 svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 167px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1719294244 .shape-fill {
  fill: #ffffff;
}

// // button

button {
  background: #2a628f;
  color: #fff;
  border: none;
  position: relative;
  height: 50px;
  font-size: 1.2em;
  padding: 12px 2em;
  margin: 24px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  border-radius: 8px;
}

button:hover {
  background: #fff;
  color: #3e92cc;
  font-weight: 500;
  i {
    color: #3e92cc;
  }
}

button:before,
button:after {
  content: "";
  top: 0;
  right: 0;
  height: 3px;
  width: 0;
  background: #3e92cc;
  transition: 400ms ease all;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.container-text-about {
  padding: 8% 12% 0 0;
  color: white;
}

.container-text-about h3 {
  font-size: 90px;
}

.container-text-about p {
  padding: 42px 0 0 0;
  font-size: 18px;
}

.social-icons {
  list-style-type: none;
  display: flex;
  right: 40%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 120px;
}

.social-icons .social-link {
  font-size: 24px;
  margin: 14px;
}

i:hover {
  color: #3e92cc;
  cursor: pointer;
  transform: scale(1.8);
}

i {
  color: white;
  display: inline-block;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.container-infor-text {
  margin: 140px 30px 0px 370px;
  text-align: justify;
}

.container-info-img img {
  margin: 80px 0 32px 0;
  width: 410px;
  height: 580px;
  border-radius: 20px;
}

.has-dropcap:first-letter {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  float: left;
  font-size: 5rem;
  line-height: 0.35;
  margin: 0.1em 0.1em 0.1em 0;
  color: #3e92cc;
}

.nombre {
  color: #2276b3;
  font-size: 27px;
  font-weight: 500;
}

.skill-title {
  color: #2276b3;
  font-size: 43px;
}
.containe-info-skills {
  width: 100%;
  max-width: 500px;
  padding: 10px;
}

.hability {
  display: inline-block;
  padding: 3px 12px;
}

.hability:hover {
  color: #3e92cc;
  cursor: pointer;
  transform: scale(1.4);
}

.container-info-img-conpetencias{
  // background: red;
  width: 60%;
}

.skills-text{
  list-style-type: none;
}

.skills-text li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.container-study-info {
  margin: 40px 370px;
  // text-align: justify;
} 

.container-curso-info{
  margin: 40px 370px;

}

.study-info {
  margin: 19px 0;
  h3{
    color: #6a8ea8e4;
    font-style: italic;
  }
  span{
    margin: 20px ;
  }
}

.curso-info{
  margin: 19px 0;
  h3{
    color: #6a8ea8e4;
    font-style: italic;
  }
  p{
    margin: 20px ;
  }
}

//  resposibe

@media (min-width: 290px) and (max-width: 365px) {
  .container-text-about {
    position: relative;
    margin: 0 20px;
    left: 6%;
    // padding: 5px 70px;
    color: white;
  }

  .container-text-about h3 {
    font-size: 55px;
  }

  .container-text-about p {
    padding: 20px 0 0 0;
    font-size: 15px;
    text-align: justify;
  }
  .imgAbout {
    left: 12%;
    width: 250px;
    height: 250px;
  }

  .autor {
    position: relative;
    left: 70%;
    // margin-top: 412px;
  }

  .custom-shape-divider-bottom-1719294244 svg {
    height: 80px;
  }

  .container-info-img img {
    margin: 10px 20px;
    width: 80%;
    height: 480px;
    border-radius: 20px;
  }

  .container-infor-text {
    margin: 70px 30px;
    text-align: justify;
  }

  .nombre {
    color: #2276b3;
    font-size: 18px;
    font-weight: 500;
  }

  .has-dropcap:first-letter {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    float: left;
    font-size: 4rem;
    line-height: 0.35;
    margin: 0.1em 0.1em 0.1em 0;
    color: #3e92cc;
  }


.skill-title{
  font-size: 28px;
}


  .container-info-img-text{
    // background: red;
    margin: 0 5%;
  }

  .container-info-img-conpetencias{
    width: 90%;
    margin: 0 23px;
  }

  
  .container-study-info{
    // background: blue;
    // background: red;
    margin: 40px 5%;
    // padding: 0 15%;
  }
  .container-curso-info{
    margin: 40px 5%;
    // background: red;
    p{
      text-align: justify;
    }
    // padding: 0 15%;
    // background: blue;
  }




}


@media (min-width: 365px) and (max-width: 500px) {
  .container-info-img img {
    margin: 10px 40px;
    
    // width: 85%;
    height: 500px !important;
    // border-radius: 20px;
  }
}
@media (min-width: 365px) and (max-width: 625px) {
  .container-text-about {
    position: relative;
    margin: 0 8%;
    padding: 0 30px;
    color: white;
    // background: red;
  }
  

  .container-text-about h3 {
    font-size: 55px;
  }

  .container-text-about p {
    padding: 20px 0 0 0;
    font-size: 15px;
    text-align: justify;
  }

  .imgAbout {
    left: 13%;
    width: 300px;
    height: 300px;
  }

  .autor {
    position: relative;
    left: 70%;
    // margin-top: 412px;
  }



  .custom-shape-divider-bottom-1719294244 {
    position: relative;
    bottom: -1px;
  }

  .custom-shape-divider-bottom-1719294244 svg {
    height: 80px;
  }

  .container-info-img img {
    margin: 10px 20px;
    width: 350px;
    height: 580px;
    border-radius: 20px;
  }

  .container-infor-text {
    margin: 70px 30px;
    text-align: justify;
  }

  .nombre {
    color: #2276b3;
    font-size: 18px;
    font-weight: 500;
  }

  .has-dropcap:first-letter {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    float: left;
    font-size: 4rem;
    line-height: 0.35;
    margin: 0.1em 0.1em 0.1em 0;
    color: #3e92cc;
  }

  .container-info-img-text{
    // background: red;
    margin: 0 5%;
  }
  

  
  .containe-info-skills {
    // width: 100%;
    max-width: 400px;
    // background: red;
    // background: #13293d;
    // padding: 10px;
  }
  .container-info-img img {
    margin: 10px 30px;
    
    width: 85%;
    height: 700px;
    border-radius: 20px;
  }
  .container-info-img-conpetencias{
    width: 90%;
    margin: 0 23px;
  }


  .container-study-info{
    // background: blue;
    // background: red;
    margin: 40px 5%;
    // padding: 0 15%;
  }
  .container-curso-info{
    margin: 40px 5%;
    // background: red;
    p{
      text-align: justify;
    }
    // padding: 0 15%;
    // background: blue;
  }
}

@media (min-width: 625px) and (max-width: 855px) {
  .imgAbout {
    left: 15%;
  }

  .container-text-about{
    position: relative;
    margin: 0 8%;
    padding: 0 30px;
    // left: 6%;
    // background: blue;
  }
  .autor {
    position: relative;
    left: 80%;
    // margin-top: 412px;
  }
  .container-infor-text{
    // background-color: red;
    margin: 100px 10% 0;
  }

  // 
  .container-info-text{
    // background: red;
    width: 80%;
    margin: 0 10%;
    // margin: 0 125px  ;
  }
  .containe-info-skills {
    // width: 100%;
    max-width: 700px;
    // padding: 10px;
  }
  .container-info-img img {
    margin: 30px 20px;
    
    width: 90%;
    height: 700px;
    border-radius: 20px;
  }
  .container-info-img-conpetencias{
    width: 100%;
  }
  .container-study-info{
    // background: red;
    margin: 40px 10%;
    // padding: 0 15%;
  }
  .container-curso-info{
    margin: 40px 10%;
    p{
      text-align: justify;
    }
    // padding: 0 15%;
    // background: blue;
  }

  // 
  
}
@media (min-width: 855px) and (max-width: 1000px) {
 
  .container-text-about{
    position: relative;
    margin: 0 8%;
    padding: 0 30px;
    // left: 6%;
    // background: blue;
  }
  .autor {
    position: relative;
    left: 80%;
    // margin-top: 412px;
  }
  .container-infor-text{
    // background-color: red;
    margin: 100px 10% 0;
  }

  // 
  .container-info-text{
    // background: red;
    width: 80%;
    margin: 0 10%;
    // margin: 0 125px  ;
  }
  .containe-info-skills {
    // width: 100%;
    max-width: 700px;
    // padding: 10px;
  }
  .container-info-img img {
    margin: 30px 20px;
    
    width: 90%;
    height: 700px;
    border-radius: 20px;
  }
  .container-info-img-conpetencias{
    width: 100%;
  }
  .container-study-info{
    // background: red;
    margin: 40px 10%;
    // padding: 0 15%;
  }
  .container-curso-info{
    margin: 40px 10%;
    p{
      text-align: justify;
    }
    // padding: 0 15%;
    // background: blue;
  }

  // 

}

@media (min-width: 1000px) and (max-width: 1200px) {
  
  .container-text-about{
    position: relative;
    margin: 0 8%;
    padding: 0 30px;
    // left: 6%;
    // background: blue;
  }
  .autor {
    position: relative;
    left: 80%;
    // margin-top: 412px;
  }
  .container-infor-text{
    // background-color: red;
    margin: 100px 10% 0;
  }

  // 
  .container-info-text{
    // background: red;
    width: 80%;
    margin: 0 10%;
    // margin: 0 125px  ;
  }
  .containe-info-skills {
    // width: 100%;
    max-width: 700px;
    // padding: 10px;
  }
  .container-info-img img {
    margin: 30px 10%;
    
    width: 80%;
    height: 800px;
    border-radius: 20px;
  }
  .container-info-img-conpetencias{
    width: 100%;
  }
  .container-study-info{
    // background: red;
    margin: 40px 10%;
    // padding: 0 15%;
  }
  .container-curso-info{
    margin: 40px 10%;
    p{
      text-align: justify;
    }
    // padding: 0 15%;
    // background: blue;
  }

  // 

}
// fin resposibe
