<div class="container-footer">
  <!-- <span class="footer-frase"> Hola mun do  este e sun frase que  va recuerar desde un servidor</span>
  <div class="container-center">
    <ul class="social-icons">
      <li>
        <a href="https://www.facebook.com/tatan.uzhca/?viewas=100000686899395&locale=es_LA" class="social-link" target="_blank"><i class="bi bi-facebook" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://myaccount.google.com/profile/profiles-summary?hl=es_419&utm_source=OGB&utm_medium=act" class="social-link" target="_blank" ><i class="bi bi-google" aria-hidden="true"></i></a>
      </li>
      <li>
          <a href="https://www.instagram.com/jonnathan0106/" class="social-link" target="_blank"><i class="bi bi-instagram" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://github.com/JonnathanUzhca" class="social-link" target="_blank"><i class="bi bi-github" aria-hidden="true"></i ></a>
      </li>
      <li><a href="https://www.tiktok.com/@jonnathanuzhca?_t=8mc22cFs8OL&_r=1" class="social-link" target="_blank"><i class="bi bi-tiktok" aria-hidden="true"></i  ></a>
      </li>
    </ul>
  </div>
  <div class="container-footer-top">

  </div> -->
  <!-- <div class="row"> -->
    <div class="container-footer-botton">
      <h1 style="color: wheat">colas</h1>
    </div>
    <div class="container-center-text">
        <div class="container-center-texto-2">
            <div class="row">
                <div class="col-8" style="background-color: red;">col-8</div>
                <div class="col-4" style="background-color: aqua;">col-4</div>
              </div>
        </div>
    </div>
    <div class="container-footer-top">
        <span>© 2024 - PORTAFOLIO | JONNATHAN UZHCA - Desarrollado con mucho amor.</span>
    </div>
  </div>
<!-- </div> -->
